.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 19px;
  border: 1px dashed #69735d;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.hint {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #69735d;
  margin-bottom: 15px;
  text-align: center;
}

.uploadContent {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #508826;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.input {
  display: none;
}

.fileList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fileItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #69735d;
  border-radius: 12px;
  margin-bottom: 6px;
}

.fileName {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #508826;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.deleteBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #69735d;
  transition: 0.2s;
}

.deleteBtn:hover {
  color: #e00;
}
