.overlay {
  position: fixed;
  inset: 0;
  background: rgb(142 142 142 / 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dropdownOverlay {
  display: block !important;
  background: transparent !important;
}

.modal {
  background: #fff;
  border-radius: 12px;
  width: fit-content;
  max-width: 1024px;
  padding: 44px 60px 72px;
  max-height: 80vh;
  overflow-y: auto;
  animation: fadeIn 0.2s ease-out;
}

.dropdownStyles {
  background: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  width: auto !important;
  height: auto !important;
  max-height: none !important;
  overflow: visible !important;
  animation: dropdownFadeIn 0.2s ease-out forwards;
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
