#APP
PORT=3000
HASH_SALT=dev_hash_salt

#DB
DB_HOST=aws-1-eu-west-3.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USERNAME=postgres.dabefmjhkweqxiuzmumz
DB_PASSWORD=Пароль от supabase

#JWT
JWT_ACCESS_SECRET=dev_access_secret
JWT_REFRESH_SECRET=dev_refresh_secret
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

#ADMIN (seed)
ADMIN_EMAIL=admin@skillswap.local
ADMIN_PASSWORD=Admin123!
