#APP
PORT=3000
HASH_SALT=test_hash_salt

#DB (Локальный Supabase CLI для E2E тестов)
DB_HOST=127.0.0.1
DB_PORT=54322
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

#JWT
JWT_ACCESS_SECRET=test_access_secret
JWT_REFRESH_SECRET=test_refresh_secret
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

#ADMIN (seed)
ADMIN_EMAIL=admin@skillswap.local
ADMIN_PASSWORD=Admin123!