#APP
PORT=3000
SALT_ROUNDS=10

#DB
DB_HOST=хост_бд
DB_PORT=6543
DB_NAME=postgres
DB_USERNAME=имя_пользователя_бд
DB_PASSWORD=пароль_бд

#JWT
JWT_ACCESS_SECRET=dev_access_secret
JWT_REFRESH_SECRET=dev_refresh_secret
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

#ADMIN (seed)
ADMIN_EMAIL=admin@skillswap.local
ADMIN_PASSWORD=Admin123!

#YANDEX OAuth (https://oauth.yandex.ru)
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_CALLBACK_URL=http://localhost:3000/auth/yandex/callback
