.button {
  padding: 12px 24px;
  border-radius: 12px;
  font-family: Roboto, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* primary (зеленая) */
.primary {
  background-color: #abd27a;
  color: #253017;
}

.primary:disabled {
  background-color: #e4e8df !important;
  color: #69735d !important;
  cursor: not-allowed !important;
}

.primary:hover:not(:disabled) {
  background-color: #deebc5;
}

.primary:active:not(:disabled) {
  background-color: #508826;
  color: #fff;
}

/* secondary (белая с контуром) */
.secondary {
  color: #253017;
  border: 1px solid #69735d;
  background-color: #fff;
}

.secondary:disabled {
  border-color: #e4e8df !important;
  color: #9ca197 !important;
  cursor: not-allowed !important;
}

.secondary:hover:not(:disabled) {
  border-color: #deebc5;
  color: #69735d;
}

.secondary:active:not(:disabled) {
  color: #253017;
  border-color: #508826;
}

/* tertiary (белая) */

.tertiary {
  background-color: #fff;
  color: #253017;
}

.tertiary:disabled {
  color: #9ca197 !important;
  cursor: not-allowed !important;
}
